

<div class="loading-indicator" *ngIf="show == true">
  <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
</div>


<mat-toolbar color="primary"  style="min-height: 55px !important; height: 55px !important;" class="mat-elevation-z6">
  <span class="font-14">BlockChain DApp</span>
  <span class="example-spacer"></span>
  <span class="font-14">Balance : {{balance}} ETH</span>
</mat-toolbar>



<mat-tab-group mat-stretch-tabs>
  <mat-tab>

    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">add</mat-icon>
      Add Product
    </ng-template>

    <div class="text-center">

      <h3>Add Product</h3>

      <div class="example-form margin-auto">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Product Name</mat-label>
          <input type="text" matInput placeholder="Product Name" [(ngModel)]="productName">
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Product Price</mat-label>
          <input type="text" matInput placeholder="Product Price"  [(ngModel)]="productPrice">
        </mat-form-field>
        <button class="example-full-width" mat-raised-button color="primary" (click)="createProducts(productName, productPrice)" >Add Product</button>

      </div>

    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">list</mat-icon>
      Product List
    </ng-template>
    <mat-list>
      <h2 mat-subheader>Product List</h2>
      <mat-list-item *ngFor="let product of totalProduct;let i = index; trackBy: trackByFn">
        <!--<mat-icon mat-list-icon>folder</mat-icon>-->
        <img matListAvatar src="../assets/ethereum.png" alt="icon">
        <h4 mat-line>{{product.name}}</h4>
        <p mat-line>$ {{convertEtherToPrice(product.price)}}</p>
        <span class="example-spacer"></span>
        <span *ngIf="product.purchased" style="color: green"> Purchased </span>
        <button *ngIf="!product.purchased" color="primary" mat-button (click)="purchaseProducts(product.id, product.price)" >Buy</button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>





<router-outlet></router-outlet>
